div[data-electron-typed-ipc-devtools] {
	--etid-col-text: oklch(1 0 0);
	--etid-col-bg: oklch(0.7 0.1899 32.16);

	box-sizing: border-box;
	background-color: var(--etid-col-bg);
	color: var(--etid-col-text);
}

div[data-electron-typed-ipc-devtools] *,
div[data-electron-typed-ipc-devtools] *::before,
div[data-electron-typed-ipc-devtools] *::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	font-size: 16px;
}
