name: Test and lint

on:
  push:
  workflow_dispatch:
  workflow_call:

env:
  DO_NOT_TRACK: 1

jobs:
  test-lint:
    name: Test and lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
        with:
          install_flags: --ignore-scripts
      # needed for oxlint config resolution
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: bun run lint
      - run: bun run test

  test-e2e:
    needs: test-lint
    name: E2E tests
    defaults:
      run:
        shell: bash
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup
      - run: bun run test:e2e
